/* Основные стили */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

/* Стили для навигационного меню */
.navbar {
    background-color: #343a40; /* Темный фон для меню */
}

.navbar-brand, .navbar-nav .nav-link {
    color: #fff !important; /* Цвет ссылок в меню */
}

.navbar-nav .nav-link:hover {
    color: #f8f9fa !important; /* Цвет при наведении */
}

.navbar-toggler {
    border: none; /* Убираем рамку кнопки бургера */
}

.navbar-toggler-icon {
    background-color: #fff; /* Белая иконка кнопки-бургера */
}

.navbar .nav-link:hover {
    color: #6250a7 !important;
}

.container {
    max-width: 1000px;
    margin: auto;
}

/* Заголовки */
h1, h2, h3 {
    color: #343a40;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8em;
    margin-top: 30px;
    margin-bottom: 15px;
}

#main_header {
    text-align: center;
}
/* Стили для разделов */
section {
    margin-bottom: 40px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стили списка */
ul, ol {
    margin-left: 20px;
}

/* Стили для теста */
form#quiz-form {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form#quiz-form .form-label {
    font-weight: bold;
    color: #333;
}

form#quiz-form input[type="radio"], form#quiz-form input[type="checkbox"] {
    margin-right: 8px;
}

button.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease;
}

button.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Стили для результатов теста */
#result {
    font-size: 1.2em;
    font-weight: bold;
}

/* Стили контейнера кода */
.code-container {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #e1e1e1;
    width: 100%;
}

.code-container code {
    font-family: monospace;
    font-size: 1rem;
    color: #333;
    background: #f1f1f1;
    padding: 2px 5px;
    border-radius: 3px;
    user-select: all;
    width: 100%; /* занимает всю ширину на мобильных устройствах */
    white-space: nowrap;
    overflow: auto;
}

.code-description {
    font-size: 0.9rem;
    color: #555;
}

.copy-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 3px 8px;
    font-size: 0.8rem;
    border-radius: 4px;
    cursor: pointer;
    max-width: 120px;
}

.copy-button:hover {
    background-color: #0056b3;
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.4em;
    }

    .code-container {
        text-align: left;
    }

    .code-description,
    .copy-button {
        text-align: left;
        margin-top: 10px;
        width: 100%; /* Расширяет описание и кнопку на мобильных */
    }
}

